[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
filelock = ">=3.24.3"

[dev-packages]
python-periphery = "==2.3.0"
pyserial = "==3.4"
pyyaml = "==6.0.1"
flake8 = "==6.1.0"
pytest = "==8.3.4"
pydocstyle = "==5.0.2"
coveralls = "==3.3.1"
ddtrace = "==2.21.1"
pytest-cov = "*"
build = "*"
twine = "*"
pre-commit = "*"
exceptiongroup = "*"  # Python 3.10 compatibility with pytest
doxypypy = "*"  # For generating API documentation
requests = "*"
