[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
filelock = "==3.0.12"

[dev-packages]
future = "==0.18.3"
iso8601 = "==0.1.12"
pyserial = "==3.4"
python-periphery = "==2.3.0"
pyyaml = "==6.0.1"
flake8 = "==6.1.0"
pytest = "==7.0.1"
pytest-cov = "==2.8.1"
pydocstyle = "==5.0.2"
packaging = ">=20.4"
pre-commit = "*"
coveralls = "==3.3.1"
ddtrace = "==2.21.1"
build = "*"
twine = "*"
