# Reusable workflow to run the python CI, which covers
# Optional notificiation to notehub (requires secrets NOTEHUB_SESSION_TOKEN, NOTEHUB_DEVICE_ID and NOTEHUB_PRODUCT_UID)
# Python installation and dependencies
# Linting (flake8 and docstyle)
# Testing and coverage with pytest
# Optionally publish coverage to coveralls (requires secrets.GITHUB_TOKEN)
# Reports test coverage to DataDog if secrets.DD_API_KEY is defined.

on:
    workflow_call:
        secrets:
            NOTEHUB_SESSION_TOKEN:
            NOTEHUB_PRODUCT_UID:
            NOTECARD_DEVICE_ID:
        inputs:
            coveralls:
                type: boolean
                required: false
                default: false
            notehub_notify:
                type: boolean
                required: false
                default: false

jobs:
    build:
      runs-on: ubuntu-24.04
      strategy:
        matrix:
          python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']

      env:
        DD_API_KEY: ${{ secrets.DD_API_KEY }}

      steps:
      - name: Send building notification
        if: ${{ inputs.notehub_notify }}
        run: |
          curl --request POST \
          --url 'https://api.notefile.net/?product=${{ secrets.NOTEHUB_PRODUCT_UID }}&device=${{ secrets.NOTECARD_DEVICE_ID }}' \
          --header 'Content-Type: application/json' \
          --header 'X-Session-Token: ${{ secrets.NOTEHUB_SESSION_TOKEN }}' \
          --data '{"req":"note.add","file":"build_results.qi","body":{"result":"building"}}'
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install pipenv
        run: |
          python -m pip install --upgrade pip
          pip install pipenv
      - name: Install dependencies
        run: |
          pipenv install --dev --python $(which python)
      - name: Lint with flake8
        run: |
          pipenv run make flake8
      - name: Lint Docs with Pydocstyle
        run: |
          pipenv run make docstyle
      - name: Send running tests notification
        if: ${{ inputs.notehub_notify }}
        run: |
          curl --request POST \
          --url 'https://api.notefile.net/?product=${{ secrets.NOTEHUB_PRODUCT_UID }}&device=${{ secrets.NOTECARD_DEVICE_ID }}' \
          --header 'Content-Type: application/json' \
          --header 'X-Session-Token: ${{ secrets.NOTEHUB_SESSION_TOKEN }}' \
          --data '{"req":"note.add","file":"build_results.qi","body":{"result":"running_tests"}}'

      - name: Check DD API Key
        if: ${{ !env.DD_API_KEY }}
        run: |
          echo Test run will NOT be collected by DD

      - name: Test with pytest
        env:
          DD_CIVISIBILITY_AGENTLESS_ENABLED: ${{ !!env.DD_API_KEY }}
          DD_SERVICE: note-python
          DD_ENV: ci
        run: |
          pipenv run coverage run -m pytest --ddtrace --ddtrace-patch-all --ignore=test/hitl
      - name: Publish to Coveralls
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        if: ${{ inputs.coveralls }}
        run: |
          pipenv run coveralls --service=github

      - name: Check if the job has succeeded
        if: ${{ success() && inputs.notehub_notify }}
        run: |
          curl --request POST \
          --url 'https://api.notefile.net/?product=${{ secrets.NOTEHUB_PRODUCT_UID }}&device=${{ secrets.NOTECARD_DEVICE_ID }}' \
          --header 'Content-Type: application/json' \
          --header 'X-Session-Token: ${{ secrets.NOTEHUB_SESSION_TOKEN }}' \
          --data '{"req":"note.add","file":"build_results.qi","body":{"result":"success"}}'
      - name: Check if the job has failed
        if: ${{ failure() && inputs.notehub_notify }}
        run: |
          curl --request POST \
          --url 'https://api.notefile.net/?product=${{ secrets.NOTEHUB_PRODUCT_UID }}&device=${{ secrets.NOTECARD_DEVICE_ID }}' \
          --header 'Content-Type: application/json' \
          --header 'X-Session-Token: ${{ secrets.NOTEHUB_SESSION_TOKEN }}' \
          --data '{"req":"note.add","file":"build_results.qi","body":{"result":"tests_failed"}}'
